<html>

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="controllers/module1Controller.js"></script>
</head>

<body ng-app="ngModuleTN">
    <div ng-controller="module1Ctrl" class="container-fluid">
        <input type="text" class="form-control" ng-model="cityName" placeholder="city name" required="" />

        <button class="btn btn-primary" ng-click="getMessage(cityName)">Get Tempreture</button>
        
        <span class="text-danger">{{ error }}</span>
        <br/>
        <table class="table">
                <tr>
                    <th>City Name</th>
                    <th>Tempreture °F</th>
                    <tr>
                        <tr>
                            <td>{{cityName}}</td>
                            <td>{{cityTemp}}</td>
                        </tr>
            </table>
        </div>
</body>

</html>